<nav>
    <ul>
        <li><a href="/Procesos">About</a></li>
        <li><a href="/tMtos">Tipos de Movimientos</a></li>
        <li><a href="/mtos">Mtos</a></li>
        <li><a href="/mtos/mtosjson">mtosjson</a></li>
        <li><a href="/mtos/cargaJson2">mtos carga json</a></li>

        <li><a href= "/mtos/byDate?date=2025-02-24" >Mtos bydate</a></li>


    </ul>
</nav>
