<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('./partials/menu') %>  


  <div id="editFormContainer" >
      <form id="editForm" action ="/mtos/update" action="" method="Post">
          <input type="text" id="pendiente1"><br>
          <button type="Guardar" >Submit</button>
      </form>
  </div>

  </body>
</html>