<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action ="/mtos/store" method="Post">
      <input type=""text name="title" id="" value="" placeholder="Autos">
      <input type=""text name="description" id="" value="" placeholder="Autos" >
      <button type="submit">Guardar</button>
  </body>
</html>
