<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action ="/pagos/store" method="Post">
      <input type="text" text name='proc' id="" value="proc" placeholder="proc">
      <input type="text" text name='descripcion' id="" value="descripcion" placeholder="descri" >
      

      <button type="submit">Guardar</button>
  </body>
</html>
