<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El termino buscado es: <%= searchTerm %></p>


   <h2>Resultados de Busqueda</h2>
  <!-- aca ba la lista de resultados-->



  </body>
</html>
